html{
    font-size: 10px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.login-div{
    width: 30%;
    margin: 2rem auto;
    background-color: rgb(240, 240, 240);
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem;
    border-radius: 1rem;
}

.login-div-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;
}
.login-div-1 a{
    text-decoration: none;
    color: rgb(67, 186, 207);
}
.login-div a:hover{
    text-decoration: underline;
}
.login-form{
    width: 90%;
    margin: 1rem auto;
    /* border: 1px solid black; */
    text-align: center;
    position: relative;
    
}
.login-form label{
    position: absolute;
    left: 2%;
    font-weight: 700;
    font-size: 1.6rem;
}
.login-form input{
    width: 90%;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
}

.login-btn{
    width: 100%;
    padding: 1.5rem 1.5rem;
    background-color: rgb(58, 97, 215);
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 700;
    transition: all 0.5s;
    border-radius: 0.5rem;
}
.login-btn:hover{
    background-color: rgb(45,85,200);
}
.reset-btn{
    width: 100%;
    padding: 1.5rem 1.5rem;
    background-color: rgb(217, 59, 59);
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 700;
    transition: all 0.5s;
    border-radius: 0.5rem;
}

.reset-btn:hover{
    background-color: rgb(200,45,59);
}

.forget-password{
    color: black;
    font-size: 1.6rem;
    text-decoration: none;

}
.forget-password:hover{
    text-decoration: underline;
}

.list-box{
    width: 97%;
    padding: 1.5rem;
    font-size: 1.6rem;
    
}

.list-box:focus{
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0,123,255,0.4);
}

@media (max-width:700px){
    html{
        font-size: 5px;
    }
    .list-box{
        width: 100%;
    }
}
@media (min-width:700px) and (max-width:900px){
    html{
        font-size: 7px;
    }
    .list-box{
        width: 100%;
    }
}

@media (min-width:900px) and (max-width:1100px){
    html{
        font-size: 8px;
    }
   
}
